@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-image: url('/IMG/back.png');
        /* Adjust background properties as needed */
        background-size: cover;
        background-repeat: no-repeat;
        /* Optionally, you can set other styles for your content */
        color: #333;
        font-family: Arial, sans-serif;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



